@import url("//brick.a.ssl.fastly.net/Linux+Libertine:400,700,400i/Roboto:400,700,400i")

body {
  font-family: Roboto;
}

.top {
  width: 100%;
  height: 100vh;
  background: #EEE;
  position: relative;
}
.name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
