body, body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.owl > :not(:first-child) {
  margin-top: 1em;
}

body {
  padding: 1rem;
  font-family: Vollkorn;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
p {
  text-align: justify;
}
p + p {
  margin-top: 0;
  text-indent: 2em;
}
